.input_container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form_login {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}